@model PersonForUpdateDto
@{
    ViewBag.Title = "Update Person";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-Dark ">Update person</h2>
        </div>
        <div class="col text-end mt-2">
            <a href="~/persons/index" class="btn btn-outline-primary">
                <i class="bi bi-arrow-left-square-fill"></i> Back to persons list</a>
        </div>
    </div>
    @* <form action="~/persons/create" method="post"> *@
    <form asp-controller="Persons" asp-action="Update" method="post">
        <div class="form-group p-1 mx-3 mt-0">
            <label asp-for="Name"  class="form-label">Name:</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Enter name">
        <span class="text-danger" asp-validation-for="Name"/>

        </div>
        <div class="form-group p-1 mx-3">
            <label asp-for="Email" class="form-label">Email:</label>
            <input asp-for ="Email" class="form-control" id="email" name="Email" placeholder="Enter email">
            <span class="text-danger" asp-validation-for="Email" />

        </div>
        <div class="form-group p-1 mx-3">
            <label for="dob" class="form-label">Date of Birth:</label>
            <input asp-for="DateOfBirth" class="form-control">
            <span class="text-danger" asp-validation-for="DateOfBirth" />

        </div>
        <div class="form-group p-1 mx-3">
            <label class="form-label">Gender:</label>
            <div class="form-check ">
                <input class="form-check-input" checked type="radio" name="Gender" id="male" value="male">
                <label class="form-check-label" for="male">
                    Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Gender" id="female" value="female">
                <label class="form-check-label" for="female">
                    Female
                </label>
            </div>
        </div>
        <div class="form-group p-1 mx-3">
            <label for="country" class="form-label">Country:</label>
            <select class="form-select form-control" asp-for="CountryId" asp-items="ViewBag.Countries">
                <option value="">Please Select Country</option>
               @*  @foreach (CountryForReturnDto item in ViewBag.Countries)
                {
                    <option value="@item.Id">@item.Name</option>

                } *@
            </select>
            <span class="text-danger" asp-validation-for="CountryId" />

            <div class="form-group p-1 mt-2">
                <label for="ReceiveEmails" class="form-check-label">Receive Emails:</label>
                <input type="checkbox" class="form-check-input ms-2" id="ReceiveEmails" name="ReceiveEmails" value="true">
            </div>
        </div>
        <button type="submit" class="btn btn-primary ms-3 mt-2">Update</button>
        <div class="text-danger" asp-validation-summary="All">

        </div>
        @if (ViewBag.Errors != null)
        {
            <div class="text-danger mt-1">
                <ul>
   
                @foreach (string error in ViewBag.Errors)
                {
                    <li>
                        @error
                    </li>
                }
                </ul>
            </div>
        }
    </form>
</div>
@section Scripts{
    <script src="https://cdnj.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      asp-fallback-test="window.jQuery" asp-fallback-src=" ~ /lib/jquery/dist/jquery.min.js"></script>
    
      <script src="https://cdnj.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
            asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
   
            <script src="https://cdnj.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}